<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rhby.cailexun">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 华为角标 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <!-- 三星角标 -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

    <!-- 友盟统计 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.rhby.cailexun.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo_1"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:networkSecurityConfig"
        android:roundIcon="@mipmap/app_logo_1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity android:name="com.rhby.cailexun.ui.activity.LoginNew2Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.LoginNewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.rhby.cailexun.ui.activity.SplashActivity"
            android:theme="@style/AppThemes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rhby.cailexun.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.rhby.cailexun.ui.activity.PersonInforActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.rhby.cailexun.ui.activity.QrCodeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.rhby.cailexun.ui.activity.ChooseChatBgActicity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.AccountSettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.GeneralSettingsActicity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.LatestBrowsingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.ChatBgEnsuredActicity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.AboutUsActicity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service android:name="com.rhby.cailexun.jpush.JpushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.rhby.cailexun.jpush.JpushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.rhby.cailexun" />
            </intent-filter>
        </receiver>
        <activity android:name="com.rhby.cailexun.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.PhoneVerificationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.CommonWebActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.ChangePhoneActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.AppDataSaveActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.SetInformationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.rhby.cailexun.ui.activity.GuidePageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            tools:ignore="LockedOrientationActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rhby.cailexun.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>